# Union datasets (Remove duplicates)
### By **Néstor Suat** in 2021

**Descripción:** Combinando los resultados normalizados de los diferentes datasets para eliminar duplicados y comenzar a Geocodificar.

**Input:**
* norm_entities_accident_1_server_bogota -- 4.463 tweets
* norm_entities_accident_2_server_token_search -- 54.765 tweets
* norm_entities_accident_3_server_token_user -- 47.398 tweets
* norm_entities_accident_4_server_follow_timeline_user -- 80.277 tweets

---

In [2]:
import pandas as pd

In [4]:
dir_ = '../../data/database/output_ml/M1/NER_extractor/'

file_bogota = 'norm_entities_accident_1_server_bogota'
df_bogota = pd.read_csv(dir_+file_bogota+'.tsv', delimiter = "\t", quoting = 3)
df_bogota['dataset'] = '1_server_bogota'
print(df_bogota.shape)

file_token = 'norm_entities_accident_2_server_token_search'
df_token = pd.read_csv(dir_+file_token+'.tsv', delimiter = "\t", quoting = 3)
df_token['dataset'] = '2_server_token_search'
print(df_token.shape)

file_token_user = 'norm_entities_accident_3_server_token_user'
df_token_user = pd.read_csv(dir_+file_token_user+'.tsv', delimiter = "\t", quoting = 3)
df_token_user['dataset'] = '3_server_token_user'
print(df_token_user.shape)

file_timeline = 'norm_entities_accident_4_server_follow_timeline_user'
df_timeline = pd.read_csv(dir_+file_timeline+'.tsv', delimiter = "\t", quoting = 3)
df_timeline['dataset'] = '4_server_follow_timeline_user'
print(df_timeline.shape)

(4463, 30)
(54765, 30)
(47398, 30)
(80277, 30)

In [5]:
dataset = pd.concat([df_bogota,df_token,df_token_user,df_timeline])
dataset.shape

(186903, 30)

### Limitando dataset Oct18 al Jul19

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186903 entries, 0 to 80276
Data columns (total 30 columns):
_id                       186903 non-null object
api                       186903 non-null object
coordinates               186903 non-null object
created_at                186903 non-null object
created_at_str            186903 non-null object
favorite_count            186903 non-null int64
geo                       186903 non-null object
id_tweet                  186903 non-null int64
place_coordinates         186903 non-null object
place_country             11546 non-null object
place_name                11548 non-null object
place_type                11548 non-null object
retweet_count             186903 non-null int64
text                      186903 non-null object
user_created_at           186903 non-null object
user_followers_count      186903 non-null int64
user_friends_count        186903 non-null int64
user_id                   186903 non-null int64
user_listed_count         186903 non-null float64
user_location             175213 non-null object
user_name                 186903 non-null object
user_profile_image_url    186903 non-null object
user_statuses_count       186903 non-null int64
user_verified             186903 non-null bool
label                     186903 non-null int64
clean                     186903 non-null object
entities                  186903 non-null object
location                  186903 non-null object
address_normalization     186903 non-null object
dataset                   186903 non-null object
dtypes: bool(1), float64(1), int64(8), object(20)
memory usage: 43.0+ MB

In [14]:
dataset.iloc[0]["created_at"]

'2018-10-03 18:43:26'

In [29]:
dataset = dataset[(dataset['created_at'] >= '2018-10-01') & (dataset['created_at'] < '2019-08-01')]
dataset.shape

(182726, 30)

In [31]:
dataset['dataset'].value_counts()

4_server_follow_timeline_user    80277
2_server_token_search            54513
3_server_token_user              43473
1_server_bogota                   4463
Name: dataset, dtype: int64

In [32]:
dataset = dataset.drop_duplicates(subset=['id_tweet'], keep='first')
dataset.shape

(84262, 30)

In [34]:
print(dataset.shape)
dataset['dataset'].value_counts()

(84262, 30)

2_server_token_search            54479
4_server_follow_timeline_user    23738
1_server_bogota                   4463
3_server_token_user               1582
Name: dataset, dtype: int64

In [36]:
dataset['user_name'].value_counts()

BogotaTransito     42725
rutassitp          15282
nikolai68843464     6454
SectorMovilidad     4609
nikolai16340807     1669
                   ...
ANAELLY1979            1
ROVYSUAREZ             1
DarkMauro25            1
mcestupinan            1
Andrssilva             1
Name: user_name, Length: 4300, dtype: int64

In [35]:
dataset.to_csv(dir_+"accidents_tweets.tsv",sep='\t',index=False)