# Agregando columna Location
### By **Néstor Suat** in 2021

**Descripción:** Seleccionando las entidades **'loc'** reconocidas de los tweets generar una columna extra llamada location.

In [2]:
from ast import literal_eval
import sys

import pandas as pd

In [3]:
## Variables para importar modelos y demás
dir_ = "../../data/v1/NER/"

file = 'ner_dataset_entities.tsv' # Dataset

In [4]:
## Importando Dataset
dataset = pd.read_csv(dir_+file, delimiter = "\t", quoting = 3)
dataset.entities = dataset.entities.apply(literal_eval)
del dataset['Unnamed: 0']
print(dataset.shape)
dataset.head(5)

(1340, 8)

,id_tweet,text,created_at,user_name,user_location,source,clean,entities
0,1047808970847604737,Rt Avenida Primero de Mayo frente al sena de l...,2018-10-04 6:21:40,camilogallardoa,NaN,Search BOGOTA,Rt Avenida Primero de Mayo frente al sena de l...,"[(Avenida Primero de Mayo, loc), (sena, loc), ..."
1,1047809516937596928,Rt *Accidente* Se presenta volcamiento de vehí...,2018-10-04 6:23:50,camilogallardoa,NaN,Search BOGOTA,Rt *Accidente* Se presenta volcamiento de vehí...,"[(carrera 68 con la Av Esperanza, loc)]"
2,1047809727118430210,Rt Av. Las villas norte al sur llegando a la 1...,2018-10-04 6:24:40,camilogallardoa,NaN,Search BOGOTA,Rt Av. Las villas norte al sur llegando a la 1...,"[(Av. Las villas, loc), (la 127, loc), (buleva..."
3,1047821671854473216,Rt *Accidente*Se presenta siniestro vial entre...,2018-10-04 7:12:08,camilogallardoa,NaN,Search BOGOTA,Rt *Accidente*Se presenta siniestro vial entre...,"[(Av. NQS con calle 67, loc)]"
4,1047843812977065985,"Para peor tristeza, muerto en la Av. Cra. 30, ...",2018-10-04 8:40:07,capdiaz,"Bogotá, Colombia",Search BOGOTA,"Para peor tristeza, muerto en la Av. Cra. 30, ...","[(Av. Cra . 30, loc), (Calle 67, loc)]"

In [7]:
def add_location(entities):
    loc = [ t for (t,l) in entities  if l == 'loc' ]
    loc = ' '.join(loc)
    return loc

In [9]:
dataset['location'] = dataset.entities.apply(add_location)
dataset['location']

0       Avenida Primero de Mayo sena carrera 30
1                carrera 68 con la Av Esperanza
2            Av. Las villas la 127 bulevar Niza
3                          Av. NQS con calle 67
4                         Av. Cra . 30 Calle 67
                         ...
1335                            Cra 7 calle 134
1336                            Cra 7 calle 140
1337                         CRA 80 X CL 45 SUR
1338                        Carrera 91 calle 95
1339                       Carrera 9a con 135 C
Name: location, Length: 1340, dtype: object

In [12]:
dataset.to_csv(dir_+"ner_dataset_location.tsv",sep='\t')

#Ejemplos
#carrera 24 52-72
#carrera 7a con 110 <--- No se porque me elimina la 'a'
#
from postal.expand import expand_address
expansions = expand_address('carrera 7a con 110',
                            roman_numerals=False, 
                            split_alpha_from_numeric=True, 
                            expand_numex=True,
                            replace_numeric_hyphens=True,
                            languages=["es"])

print(expansions)

from postal.parser import parse_address
parse_address('calle 37')