# Dataset Union
### By **Néstor Suat** in 2021

**Descripción:** Uniendo los datasets debido que algunos estan particionados, como por ejemplo el de `1_server_bogota`

---

In [1]:
import pandas as pd

In [5]:
dir_ = "../../data/database/output_ml/M1/"
file = 'accident_1_server_bogota_part1.tsv'
dataset = pd.read_csv(dir_+file, delimiter = "\t", quoting = 3)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 624 entries, 0 to 623
Data columns (total 26 columns):
Unnamed: 0                624 non-null int64
_id                       624 non-null object
api                       624 non-null object
coordinates               624 non-null object
created_at                624 non-null object
created_at_str            624 non-null object
favorite_count            624 non-null int64
geo                       624 non-null object
id_tweet                  624 non-null int64
place_coordinates         624 non-null object
place_country             624 non-null object
place_name                624 non-null object
place_type                624 non-null object
retweet_count             624 non-null int64
text                      624 non-null object
user_created_at           624 non-null object
user_followers_count      624 non-null int64
user_friends_count        624 non-null int64
user_id                   624 non-null int64
user_listed_count         624 non-null float64
user_location             495 non-null object
user_name                 624 non-null object
user_profile_image_url    624 non-null object
user_statuses_count       624 non-null int64
user_verified             624 non-null bool
label                     624 non-null int64
dtypes: bool(1), float64(1), int64(9), object(15)
memory usage: 122.6+ KB