In [15]:
from os import walk
import pandas as pd

In [13]:
dirname = "../../../data/v1/NER/brat/test/"
data = []
for (dirpath, dirnames, filenames) in walk(dirname):
    for filename in filenames:
        if filename.split(".")[1] == 'txt':        
            with open(dirname+filename, "r") as file:
                data.append(file.readlines()[0])
            i += 1

268

In [16]:
df = pd.DataFrame(data,columns=['tweet'])
df

                                                 tweet
0    sectormovilidad transmilenio bus dual se estre...
1    bogotatransito sectormovilidad transitobta Hay...
2    Colapsada la carrera 30 sur - norte por accide...
3    bogotatransito transitobta sectormovilidad Se ...
4    Grave accidente en autopista sur al sector de ...
..                                                 ...
263  jota volatil Una tractomula se llevó a un moto...
264  8:56 CLL 17 X CRA 81 A OCC-ORI: Se presenta in...
265  sectormovilidad policia c marca transito polic...
266  Accidente en la Av Carrera 68 en el sentido No...
267  transmilenio policiabogota Peatón atropellado ...

[268 rows x 1 columns]

In [18]:
df.to_csv("../../../data/v1/NER/ner_testset.tsv",sep='\t')