# Dataset Union
### By **Néstor Suat** in 2021

**Descripción:** Uniendo los datasets debido que algunos estan particionados, como por ejemplo el de `1_server_bogota`

---

In [2]:
import pandas as pd

In [5]:
dir_ = "../../../data/database/output_ml/M1/"

### Dataset `1_server_bogota`

In [9]:
file = 'accident_1_server_bogota_part'

df1 = pd.read_csv(dir_+file+'1.tsv', delimiter = "\t", quoting = 3)
del df1['Unnamed: 0']

df2 = pd.read_csv(dir_+file+'2.tsv', delimiter = "\t", quoting = 3)
del df2['Unnamed: 0']

df3 = pd.read_csv(dir_+file+'3.tsv', delimiter = "\t", quoting = 3)
del df3['Unnamed: 0']

df4 = pd.read_csv(dir_+file+'4.tsv', delimiter = "\t", quoting = 3)
del df4['Unnamed: 0']

In [10]:
print(df1.shape)
print(df2.shape)
print(df3.shape)
print(df4.shape)

(624, 25)
(2756, 25)
(1873, 25)
(784, 25)

In [11]:
dataset = pd.concat([df1,df2,df3,df4])
dataset.shape

(6037, 25)

In [15]:
dataset = dataset.drop_duplicates(subset=['id_tweet'], keep='last')
dataset.shape

(6037, 25)

In [14]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6037 entries, 0 to 783
Data columns (total 25 columns):
_id                       6037 non-null object
api                       6037 non-null object
coordinates               6037 non-null object
created_at                6037 non-null object
created_at_str            6037 non-null object
favorite_count            6037 non-null int64
geo                       6037 non-null object
id_tweet                  6037 non-null int64
place_coordinates         6037 non-null object
place_country             6036 non-null object
place_name                6037 non-null object
place_type                6037 non-null object
retweet_count             6037 non-null int64
text                      6037 non-null object
user_created_at           6037 non-null object
user_followers_count      6037 non-null int64
user_friends_count        6037 non-null int64
user_id                   6037 non-null int64
user_listed_count         6037 non-null float64
user_location             5656 non-null object
user_name                 6037 non-null object
user_profile_image_url    6037 non-null object
user_statuses_count       6037 non-null int64
user_verified             6037 non-null bool
label                     6037 non-null int64
dtypes: bool(1), float64(1), int64(8), object(15)
memory usage: 1.2+ MB

In [17]:
dataset.to_csv(dir_+"accident_1_server_bogota.tsv",sep='\t',index=False)